{% extends "main.html" %}
{% block title %}Delete Items {% endblock %}
{% block header %}
	{% include "headerlogin.html" %}
{% endblock %}
{% block content %}
	<h1>Detete Item</h1>
	<div class="adding">
		<form action="{{url_for('deleteCategoryItems',category_id=category_id, item_id=item.id)}}" method="post">
			<div class="card">
				<div class="card-body">
					<p class="card-text">Are you sure you want to delete <strong><em>{{item.name}}</em></strong></p>
				</div>
				<div class="card-footer">
					<input type="submit" name="deleteCategory">
				</div>
			</div>
		</form>
	</div>
{% endblock %}
