{% extends "main.html" %}
{% block title %}Delete Items {% endblock %}
{% block header %}
	{% include "headerlogin.html" %}
{% endblock %}
{% block content %}
	<h1> Edit Restricted</h1>
	<div class="">
		<div class="card bg-red">
			<div class="card-body">
				<p class="card-text">You are not authorized to edit this item <strong><em>{{item.name}}</em></strong>. Please create your own in order to edit</p>
			</div>
			<div class="card-footer">
				<!--add return to category-->
				<button onClick="window.location.href = '{{url_for('viewCategoryItems',category_id=item.category_id)}}';" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Return</button>
			</div>
		</div>
	</div>
{% endblock %}