<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
	   <a class="navbar-brand headlogo" href="{{url_for('showHomePage')}}">Catalog APP</a>
	   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	   <span class="navbar-toggler-icon"></span>
	   </button>
	   <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">

		  </ul>
		<button onClick="window.location.href = '{{url_for('gdisconnect')}}';" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
	   </div>
	</div>
</nav>
