<!doctype html>
<html lang="en">
	<head>
		{% block head %}
			<!-- Required meta tags -->
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<!-- Bootstrap CSS -->
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
			<title>{% block title %}{% endblock %} -Catalog</title>
		{% endblock %}
	</head>

	<body>
		<header>
			{% block header %}
			{% endblock %}
		</header>
		<div id="content" class="mt-4">
			<div class="container">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		<footer class="bg-dark pt-4 fixed-bottom">
			<div class="container">
				<div class="footer-copyright text-center py-2">
					<p id="footer-content">&copy;Copyright: Jerry Maurice</p>
				</div>
			</div>
		</footer>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
	</body>
</html>
